@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //border: solid red;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: oswald;
        width: 35vw;

    }

    nav {
        width: 40vw;

        font-family: oswald;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.25rem;
        font-weight: 500;

    }

    a {
        text-decoration: none;
        color: #5B5B5B;


    }

    button {
        width: 10vw;
        background-color: white;
        height: 10vh;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: oswald;
    }
}

main {


    .containerPortologistica {

        height: 80vh;
        //border: solid green;
        display: flex;
        flex-direction: column;
        justify-content: center;

        line-height: 1.5;
        padding: 3rem;
        background-image: url(./Imagens/background.png);
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            font-size: 6rem;
            font-weight: 700;
            font-family: oswald;
            color: #FFFFFF;
        }

        h3 {
            font-size: 2rem;
            font-weight: 300;
            font-family: oswald;
            color: #FFFFFF;
        }

        button {
            width: 12vw;
            height: 7vh;
            background-color: #0016DF;
            font-family: oswald;
            color: #FFFFFF;
            font-weight: 300;
            font-size: 1.35rem;
            margin-top: 30px;
        }

    }

    .containerGestaoPortuaria {
        height: 140vh;
        //border: solid purple;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 7rem;
        padding-right: 3rem;


        article {
            height: 90vh;
            width: 31vw;
            display: flex;
            align-items: right;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            text-align: start;
            //border: solid blue;


            h3 {
                color: #0017E9;
                font-weight: 500;
                font-size: 1.5rem;
                font-family: Oswald;
                margin-bottom: 2rem;


            }

            h2 {
                color: #000000;
                font-weight: 800;
                font-size: 2.25rem;
                font-family: Roboto;
                margin-bottom: 4rem;
            }

            p {
                color: #000000;
                font-weight: 400;
                font-size: 1.5rem;
                font-family: Roboto;
                margin-bottom: 2.5rem
            }

            a {
                color: #0017E9;
                font-weight: 400;
                font-size: 1.5rem;
                font-family: Roboto;



            }

        }

        img {
            height: 90vh;
            width: 45vw;
            //border: solid orange;
        }

    }

    .containerSolucoes {
        //border: solid gold;
        height: 120vh;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;





        .topoSolucoes {
            height: 20vh;
            //border: solid purple;
            text-align: center;

            h3 {
                color: #0016DF;
                font-weight: 500;
                font-size: 1.5rem;
                font-family: Oswald;
            }

            h4 {
                color: #000000;
                font-weight: 500;
                font-size: 1.5rem;
                font-family: Oswald;
                margin-top: 2rem;

            }
        }

        .containerDentroSolucoes {
            width: 100%;
            height: 70vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
           
            

            article{
                //border: solid black;
                width: 25vw;
                background-color: #FFFFFF;
                box-shadow: 0 0 0 3px rgba($color: gray, $alpha: 0.4);
                img{
                    width: 100%;
                    height: 60%
                    
                }
                h3{
                    color: #000000;
                font-weight: 500;
                font-size: 1.5rem;
                font-family: Oswald;
                margin-top: 1rem;
                margin-left: 1.5rem;
                }
                p{
                    color: #000000;
                    font-weight: 200;
                    font-size: 1.5rem;
                    font-family: Oswald;
                    padding: 1.5rem;
                }

            }
                      
            
        }

    }

    .containerAtendimentoFale{
        height: 100vh;

        display: flex;
        justify-content: space-around;
        

        .containerAten{
            width: 45vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            //border: solid yellow;
            text-transform: uppercase;
            figcaption{
                font-family: Oswald;
                font-weight: 500;
                font-size: 1.25rem;
            }
            h2{
                font-family: Oswald;
                color: #0017E9;
                font-weight: 500;
                font-size: 2rem;
                margin-left: 4rem;
               
            }
            h3{
                font-family: Oswald;
                color:#000000;
                font-weight: 500;
                font-size: 1.5rem;
                margin-left: 4rem;
            }
            .containerImagens1{
               
                display: flex;
                justify-content: space-evenly;
            }
            .containerImagens2{
               
                display: flex;
                justify-content: space-evenly;
            }
        }
        .containerFaleCom{
            width: 30vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-transform: uppercase;
            
            h2{
                font-family: Oswald;
                color: #0017E9;
                font-weight: 500;
                font-size: 2rem;
                

            }
            h3{
                font-family: Oswald;
                color:#000000;
                font-weight: 500;
                font-size: 1.5rem;
            }
            form{
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                input{
                    width: 21vw;
                    height: 7vh;
                    margin-top: 0%;
                }
                label{
                    font-family: Oswald;
                    font-weight: 300;
                    font-size: 1.25rem;
                }
                button{
                    width: 20vw;
                    height: 7vh;
                    margin-top: 3rem;
                    background-color: #0017E9;
                    color: #FFFFFF;
                }
            }
           
        }
    }


}
footer{
    background-color: #D8D8D8;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        font-family: Oswald;
                color:#000000;
                font-weight: 700;
                font-size: 0.875rem;
    }
}